<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
</head>

<body>
    <div id="top">
        <span>电影推荐</span>
    </div>

    <div id="container">
        <div id="movie-bar">
            <h4>推荐给&nbsp;
                <!-- 这里改成用户的信息 -->
                <a id="user-name" href="#">您的</a>&nbsp;电影</h4>
            <ul id="movie-items">

                <!-- li标签根据电影数量用循环添加 -->
                <li class="movie-item">
                    <a href="#">
                        <!-- 链接改成电影图片的 -->
                        <img src="../assets/p2221186392.webp" alt="" srcset="" class="movie-img">
                    </a>

                    <div class="movie-info">
                            <!-- a标签的href指向豆瓣相同的电影页面 -->
                            <span class="movie-name">
                                <a href="#" class="name">Clannad</a>
                            </span>
                            <span class="movie-rank">电影评分：10</span>
                            <span class="movie-genres">电影类型</span>
                        <div class="summary">
                            <span class="movie-summary">电影简介：故事发生在一个小镇上，冈崎朋也（中村悠一 配音）是光坂高中在校生，因为家庭原因他一直过着浑浑噩噩的生活。他不参加任何社团活动，唯一的朋友是春原阳平（阪口大助 配音）。 　　某天的上学途中，在樱花飞舞的坡道上，他邂逅了一名少女——古河渚（中原麻衣
                                配音），从此他的生活发生改变。渚因病休学一年，重返校园的她对周围环境感到相当不适应。她想加入戏剧部，然而戏剧部早已休部。朋也决定帮助她一起开展戏剧部的活动，二人关系变得越发亲密。随后不久朋也在图书馆中结识了一名天才少女一之濑琴美（能登麻美子
                                配音）。 　　《CLANNAD》是京都动画根据Key社同名游戏改编的TV版动画作品，动画以游戏原作的古河渚线为主要剧情，并穿插其他女主角的相关剧情。
                            </span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="float-clear"></div>

    <div>
        <div id="middle">
            <div class="form">
                <div class="middle-tool">
                    <!-- <button type="button" id="flash">刷新</input> -->
                </div>
            </div>
        </div>
    </div>

    <div>
        <div id="bottom">

        </div>
    </div>
</body>

<script src="js/index.js"></script>

</html>